/* jQuery.Categories (https://github.com/Imdsm/jQuery.Categories)
 * Adam K Dean (Imdsm)
 * 01/07/2013 10:27
 */

/* http://www.colourlovers.com/palette/92095/Giant_Goldfish
#69D2E7 aoi
#A7DBD8 clean pondwater
#E0E4CC beach storm
#F38630 giant goldfish
#FA6900 unreal food pills
*/

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300; 
}
 
.container { width: 500px; padding: 20px; }

.categories { width: 100%; height: 28px; list-style: none; margin: 10px 0; padding: 0; }
.categories li { float: left; margin: 0 3px; height: 28px; }
.categories li a { 
	background: #ccc; color: #333; text-decoration: none;
	padding: 3px 8px; line-height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.categories li a:hover { background: #ddd; color: #444; }
.categories li.selected a { background: #F38630; }
.categories li.selected a:hover { background: #FA6900; }

.items { clear: both; width: 100%; }
.items div { 
	float: left; width: 100px; 
	background: #eee;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.items div img { width: 100px; }