/* jQuery.Categories (https://github.com/Imdsm/jQuery.Categories)
 * Adam K Dean (Imdsm)
 * 01/07/2013 10:27
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300; 
}
 
.container { width: 600px; padding: 20px; }

.categories { width: 100%; height: 28px; list-style: none; margin: 10px 0; padding: 0; }
.categories li { float: left; margin: 0 3px; height: 28px; }
.categories li a { 
	background: #ddd; color: #333; text-decoration: none;
	padding: 3px 8px; line-height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.categories li a:hover { background: #ccc; color: #444; }
.categories li.selected a { background: #F38630; }
.categories li.selected a:hover { background: #FA6900; }

.items { clear: both; width: 100%; }
.items div { 
	float: left; 
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px; margin: 3px;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.items div p { margin: 0; font-size: 90%; }
.items div img { }