/* jQuery.Categories (https://github.com/Imdsm/jQuery.Categories)
 * Adam K Dean (Imdsm)
 * 01/07/2013 10:27
 */

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300; 
}
 
.container { width: 600px; padding: 20px; }
.container:after { content: ''; display: block; clear: both; } /* clearfix */

.categories { width: 100%; height: 28px; list-style: none; margin: 10px 0; padding: 0; }
.categories li { float: left; margin: 0 3px; height: 28px; }
.categories li a { 
	background: #ddd; color: #333; text-decoration: none;
	padding: 3px 8px; line-height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.categories li a:hover { background: #ccc; color: #444; }
.categories li.selected a { background: #F38630; }
.categories li.selected a:hover { background: #FA6900; }
.categories:after { content: ''; display: block; clear: both; } /* clearfix */

.items { width: 100%; }
.items .item { 
	float: left; width: 150px;
	background: #eee;
	border: 1px solid #ddd;
	padding: 5px; margin: 3px;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.items .item p { margin: 0; font-size: 90%; }
.items .item img { width: 100%; }
.items:after { content: ''; display: block; clear: both; } /* clearfix */


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}